<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RealAnggaran.Properties.Settings.Setting" connectionString="0Jn2HX8dBwXlgnQX8MiFoAEq+eGJLNqZ0holrOOOpEQLrmk7yJX+BsP63JODrnj4VNZxZEjaXwmOSAAAPWKQarJx8gP7SbHyNeEk911S+D/eegoukFXInZnCZgPiTGqB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
